@font-face {
    font-family: 'HelveticaCustom';
    src: url('https://oioi860.github.io/fonts/Helvetica.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IgraSans';
    src: url('https://oioi860.github.io/fonts/IgraSans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Заголовки */
.hero-title .tn-atom {
    font-family: 'IgraSans' !important;
}

/* Обычный текст */
.hero-text .tn-atom {
    font-family: 'HelveticaCustom' !important;
}
