@font-face {
    font-family: 'IgraSans';
    src: url('https://oioi860.github.io/fonts/IgraSans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.tn-atom {
    font-family: 'IgraSans' !important;
}
